<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{{ url_for('static', filename='js/peticiones.js' )}}"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personas</title>
</head>
<body>
    <div class="text-center">
            <h1>Personas</h1>

        <div class="table-responsive mt-5 p-1">
            <table class=" table container table-border table-bordered ">
                <thead  class="table-primary ">
                    <tr>
                        <th>id</th>
                        <th>nombre</th>
                        <th>apellido</th>
                        <th>identificacion</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td id="id"></td>
                        <td id="nombre"></td>
                        <td id="apellido"></td>
                        <td id="identificacion"></td>
                    </tr>
                </tbody>
            </table>
        </div>

            <button class="btn btn-success" onclick="get_users()">Obtener personas</button>
    </div>
</body>
</html>